header, .download, .features, .overlay, .contact .bg-primary{
  overflow-x: hidden;
}

.how_to_work{
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 25px;
  text-shadow: 1px 1px 1px #000;
}

.features{
  padding-top: 100px;
  padding-bottom: 30px;
}

#mainNav{
  color: #fff;
  padding: 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav li{
  padding-left: 10px;
  padding-right: 10px;
}

.female, .male{
  font-size: 12px;
}

.female{
  color: #EE82EE;
}

.male{
  color: green;
}

header{
  background: url('../img/background2.png') center no-repeat fixed;
  background-size: cover;
}

.block_header{
  height: 500px;margin-top: 200px;
}

.block_midle{
  height: 250px;
}

.block_midle h3{
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.block_midle p{
  font-weight: bold;
}

.circle-icon{
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  padding-top: 15px;
  margin-bottom: 20px;
}

.fa-pencil, .fa-weixin, .fa-heart{
  color: #000;
  font-size: 50px;
}

.navbar-nav .fa-facebook, .navbar-nav .fa-instagram, .navbar-nav .fa-twitter{
  font-size: 20px;
}

.block_sign{
  padding-top: 10%;
  text-align: center;
  padding-bottom: 20px;
}

.btn_sign_in{
  margin: 0 auto;
}

.download{
  padding: 10px!important;
}

.chatmessage{
  padding:20px!important;
  background-color: #ccc;
  background-image: url('../img/background_chat.jpg');
}

.advantage{
  color: #42cce6;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;

}

.text-chat{
  margin-left: 1px;
  background-color: #fff;
  padding: 12px;
  border-radius: 20px;
}

.conversarion{
  margin-bottom: 5px;
  padding: 10px;
}
