header, .download, .features, .overlay, .contact .bg-primary{
  overflow-x: hidden;
}

#mainNav{
  background-color: transparent;
  color: #fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav li{
  padding-left: 10px;
  padding-right: 10px;
}

header{
  background: url('../img/background.png') center no-repeat fixed;
  background-size: cover;
}

.block_header{
  background-color: #fff;
  height: 500px;margin-top: 200px;
}

.block_midle{
  height: 250px;
}

.circle-icon{
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  padding-top: 15px;
  margin-bottom: 20px;
}

.fa-pencil{
  color: #000;
  font-size: 50px;
}

.navbar-nav .fa-facebook, .navbar-nav .fa-instagram, .navbar-nav .fa-twitter{
  font-size: 20px;
}

.btn_sign_in{
  position: absolute;
  display: inline-block;
  margin-left: 65px;
  margin-top: 40px;
}

.block_sign{
  padding: 40px;
}

.download{
  padding: 10px!important;
}

#contact{
  height: 300px!important;
}

.chatmessage{
  background-color: #ccc;
}

.img-circle{
  margin-top: 2px;
  margin-left: 10px;
  float: left;
  margin-right: 10px;
}

.text-chat{
  padding-top: 30px;
  margin-left: 10px;
}

.conversarion{
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
